In [2]:
%load_ext sql
%sql postgresql://postgres:password@localhost:5432/postgres

In [3]:
%%sql
SELECT Location, date, total_cases, new_cases, total_deaths, population 
FROM covid_deaths 
ORDER BY location,date 
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Afghanistan', datetime.date(2020, 1, 3), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 4), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 5), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 6), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 7), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 8), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 9), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 10), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 11), None, Decimal('0'), None, Decimal('41128772')),
 ('Afghanistan', datetime.date(2020, 1, 12), None, Decimal('0'), None, Decimal('41128772'))]

Looking at Total Cases vs Total Deaths

In [4]:
%%sql
SELECT Location, date, total_cases, total_deaths, ((total_deaths/total_cases)*100) AS DeathPercentage
FROM covid_deaths 
Where location like 'Brazil'
ORDER BY location,date
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Brazil', datetime.date(2020, 1, 3), None, None, None),
 ('Brazil', datetime.date(2020, 1, 4), None, None, None),
 ('Brazil', datetime.date(2020, 1, 5), None, None, None),
 ('Brazil', datetime.date(2020, 1, 6), None, None, None),
 ('Brazil', datetime.date(2020, 1, 7), None, None, None),
 ('Brazil', datetime.date(2020, 1, 8), None, None, None),
 ('Brazil', datetime.date(2020, 1, 9), None, None, None),
 ('Brazil', datetime.date(2020, 1, 10), None, None, None),
 ('Brazil', datetime.date(2020, 1, 11), None, None, None),
 ('Brazil', datetime.date(2020, 1, 12), None, None, None)]

Looking at Total Cases vs Population

In [5]:
%%sql
SELECT Location, date, population, total_cases, ((total_cases/population)*100) AS InfectedPercentage
FROM covid_deaths 
Where location like 'Brazil'
ORDER BY location,date
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Brazil', datetime.date(2020, 1, 3), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 4), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 5), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 6), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 7), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 8), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 9), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 10), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 11), Decimal('215313504'), None, None),
 ('Brazil', datetime.date(2020, 1, 12), Decimal('215313504'), None, None)]

Looking at Countries with Highest Infection Rate Compared to Population

In [6]:
%%sql
SELECT Location, population, MAX(total_cases) AS HighestInfectionCount, MAX((total_cases/population)*100) AS InfectedPercentage
FROM covid_deaths 
GROUP BY location, population
ORDER BY InfectedPercentage DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Wales', Decimal('3170000'), None, None),
 ('Northern Ireland', Decimal('1896000'), None, None),
 ('Northern Cyprus', Decimal('382836'), None, None),
 ('Macao', Decimal('695180'), None, None),
 ('Hong Kong', Decimal('7488863'), None, None),
 ('Scotland', Decimal('5466000'), None, None),
 ('North Korea', Decimal('26069416'), None, None),
 ('Turkmenistan', Decimal('6430777'), None, None),
 ('Taiwan', Decimal('23893396'), None, None),
 ('England', Decimal('56550000'), None, None)]

Highest Death Count Per Population

In [7]:
%%sql
SELECT Location, MAX(total_deaths) AS TotalDeathCount
FROM covid_deaths 
Where continent is not null AND total_deaths is not null
GROUP BY location
ORDER BY TotalDeathCount DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('United States', Decimal('1118800')),
 ('Brazil', Decimal('700239')),
 ('India', Decimal('530901')),
 ('Russia', Decimal('397384')),
 ('Mexico', Decimal('333539')),
 ('Peru', Decimal('219784')),
 ('United Kingdom', Decimal('211155')),
 ('Italy', Decimal('189089')),
 ('Germany', Decimal('171059')),
 ('France', Decimal('162055'))]

Breakdown by continent

In [8]:
%%sql
SELECT continent, MAX(total_deaths) AS TotalDeathCount
FROM covid_deaths 
Where continent is not null AND total_deaths is not null
GROUP BY continent
ORDER BY TotalDeathCount DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('North America', Decimal('1118800')),
 ('South America', Decimal('700239')),
 ('Asia', Decimal('530901')),
 ('Europe', Decimal('397384')),
 ('Africa', Decimal('102595')),
 ('Oceania', Decimal('19539'))]

Global Numbers

In [9]:
%%sql
SELECT SUM(new_cases) AS Total_cases, sum(new_deaths) AS total_deaths,
    CASE WHEN SUM(new_cases) = 0
        THEN 0
        ELSE SUM(new_deaths)/SUM(new_cases)*100 
    END AS DeathPercentage
FROM covid_deaths 
Where continent is not null
--GROUP BY date
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(Decimal('762588872'), Decimal('6895830'), Decimal('0.90426575225451231100'))]

Total Population vs Vaccinations

In [14]:
%%sql
With PopvsVac (continent, location, date, population, new_vaccinations, RollingPeopleVaccinated) AS
(
    SELECT Cov_D.continent, Cov_D.location, Cov_D.date, Cov_D.population, Cov_V.new_vaccinations, SUM(Cov_V.new_vaccinations) OVER (Partition by Cov_D.Location ORDER BY Cov_D.location, Cov_D.date) AS RollingPeopleVaccinated
    FROM covid_deaths AS Cov_D JOIN covid_vaccinations AS Cov_V 
    ON Cov_D.location = Cov_V.location AND Cov_D.date = Cov_V.date
    WHERE Cov_D.continent is not null
    --ORDER BY Cov_D.location, Cov_D.date
    LIMIT 10
)
SELECT *, (RollingPeopleVaccinated/population)*100 FROM PopvsVac

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Asia', 'Afghanistan', datetime.date(2020, 1, 3), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 4), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 5), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 6), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 7), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 8), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 9), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 10), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 11), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 12), Decimal('41128772'), None, None, None)]

Temp table

In [19]:
%%sql
DROP TABLE IF EXISTS PercentPopulationVaccinated;
CREATE TABLE PercentPopulationVaccinated
(
    continent TEXT,
    location TEXT,
    date DATE,
    population numeric,
    new_vaccinations numeric,
    RollingPeopleVaccinated numeric
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.

[]

In [20]:
%%sql
INSERT INTO PercentPopulationVaccinated
SELECT Cov_D.continent, Cov_D.location, Cov_D.date, Cov_D.population, Cov_V.new_vaccinations, SUM(Cov_V.new_vaccinations) OVER (Partition by Cov_D.Location ORDER BY Cov_D.location, Cov_D.date) AS RollingPeopleVaccinated
    FROM covid_deaths AS Cov_D JOIN covid_vaccinations AS Cov_V 
    ON Cov_D.location = Cov_V.location AND Cov_D.date = Cov_V.date
    WHERE Cov_D.continent is not null
    --ORDER BY Cov_D.location, Cov_D.date
    LIMIT 10;

SELECT *, (RollingPeopleVaccinated/population)*100 FROM PercentPopulationVaccinated;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.
10 rows affected.

[('Asia', 'Afghanistan', datetime.date(2020, 1, 3), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 4), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 5), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 6), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 7), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 8), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 9), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 10), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 11), Decimal('41128772'), None, None, None),
 ('Asia', 'Afghanistan', datetime.date(2020, 1, 12), Decimal('41128772'), None, None, None)]

Create view to store data for later visualizations

In [23]:
%%sql
DROP VIEW IF EXISTS PercentPopulationVaccinatedView;
CREATE VIEW PercentPopulationVaccinatedView AS
SELECT Cov_D.continent, Cov_D.location, Cov_D.date, Cov_D.population, Cov_V.new_vaccinations, SUM(Cov_V.new_vaccinations) OVER (Partition by Cov_D.Location ORDER BY Cov_D.location, Cov_D.date) AS RollingPeopleVaccinated
    FROM covid_deaths AS Cov_D JOIN covid_vaccinations AS Cov_V 
    ON Cov_D.location = Cov_V.location AND Cov_D.date = Cov_V.date
    WHERE Cov_D.continent is not null
    --ORDER BY Cov_D.location, Cov_D.date

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.

[]