In [2]:
%load_ext sql
%sql postgresql://postgres:password@localhost:5432/postgres

In [ ]:
%%sql
SELECT Location, date, total_cases, new_cases, total_deaths, population 
FROM covid_deaths 
ORDER BY location,date 
LIMIT 10;

Looking at Total Cases vs Total Deaths

In [ ]:
%%sql
SELECT Location, date, total_cases, total_deaths, ((total_deaths/total_cases)*100) AS DeathPercentage
FROM covid_deaths 
Where location like 'Brazil'
ORDER BY location,date
LIMIT 100;

Looking at Total Cases vs Population

In [ ]:
%%sql
SELECT Location, date, population, total_cases, ((total_cases/population)*100) AS InfectedPercentage
FROM covid_deaths 
Where location like 'Brazil'
ORDER BY location,date
LIMIT 100;

Looking at Countries with Highest Infection Rate Compared to Population

In [ ]:
%%sql
SELECT Location, population, MAX(total_cases) AS HighestInfectionCount, MAX((total_cases/population)*100) AS InfectedPercentage
FROM covid_deaths 
GROUP BY location, population
ORDER BY InfectedPercentage DESC
LIMIT 100;

Highest Death Count Per Population

In [ ]:
%%sql
SELECT Location, MAX(total_deaths) AS TotalDeathCount
FROM covid_deaths 
Where continent is not null AND total_deaths is not null
GROUP BY location
ORDER BY TotalDeathCount DESC
LIMIT 100;

Breakdown by continent

In [ ]:
%%sql
SELECT continent, MAX(total_deaths) AS TotalDeathCount
FROM covid_deaths 
Where continent is not null AND total_deaths is not null
GROUP BY continent
ORDER BY TotalDeathCount DESC
LIMIT 100;

Global Numbers

In [ ]:
%%sql
SELECT SUM(new_cases) AS Total_cases, sum(new_deaths) AS total_deaths,
    CASE WHEN SUM(new_cases) = 0
        THEN 0
        ELSE SUM(new_deaths)/SUM(new_cases)*100 
    END AS DeathPercentage
FROM covid_deaths 
Where continent is not null
--GROUP BY date
LIMIT 100;

Total Population vs Vaccinations

In [ ]:
%%sql
With PopvsVac (continent, location, date, population, new_vaccinations, RollingPeopleVaccinated) AS
(
    SELECT Cov_D.continent, Cov_D.location, Cov_D.date, Cov_D.population, Cov_V.new_vaccinations, SUM(Cov_V.new_vaccinations) OVER (Partition by Cov_D.Location ORDER BY Cov_D.location, Cov_D.date) AS RollingPeopleVaccinated
    FROM covid_deaths AS Cov_D JOIN covid_vaccinations AS Cov_V 
    ON Cov_D.location = Cov_V.location AND Cov_D.date = Cov_V.date
    WHERE Cov_D.continent is not null
    --ORDER BY Cov_D.location, Cov_D.date
    LIMIT 100
)
SELECT *, (RollingPeopleVaccinated/population)*100 FROM PopvsVac

Temp table

In [ ]:
%%sql
--DROP TABLE IF EXISTS PercentPopulationVaccinated;
CREATE TABLE PercentPopulationVaccinated
(
    continent TEXT,
    location TEXT,
    date DATE,
    population numeric,
    new_vaccinations numeric,
    RollingPeopleVaccinated numeric
);

In [ ]:
%%sql
INSERT INTO PercentPopulationVaccinated
SELECT Cov_D.continent, Cov_D.location, Cov_D.date, Cov_D.population, Cov_V.new_vaccinations, SUM(Cov_V.new_vaccinations) OVER (Partition by Cov_D.Location ORDER BY Cov_D.location, Cov_D.date) AS RollingPeopleVaccinated
    FROM covid_deaths AS Cov_D JOIN covid_vaccinations AS Cov_V 
    ON Cov_D.location = Cov_V.location AND Cov_D.date = Cov_V.date
    WHERE Cov_D.continent is not null
    --ORDER BY Cov_D.location, Cov_D.date
    LIMIT 100;

SELECT *, (RollingPeopleVaccinated/population)*100 FROM PercentPopulationVaccinated;

Create view to store data for later visualizations

In [113]:
%%sql
CREATE VIEW PercentPopulationVaccinated AS
SELECT Cov_D.continent, Cov_D.location, Cov_D.date, Cov_D.population, Cov_V.new_vaccinations, SUM(Cov_V.new_vaccinations) OVER (Partition by Cov_D.Location ORDER BY Cov_D.location, Cov_D.date) AS RollingPeopleVaccinated
    FROM covid_deaths AS Cov_D JOIN covid_vaccinations AS Cov_V 
    ON Cov_D.location = Cov_V.location AND Cov_D.date = Cov_V.date
    WHERE Cov_D.continent is not null
    --ORDER BY Cov_D.location, Cov_D.date

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]